.feeditem {
	max-height: 80px;
	width: auto;
}

.progressbar {
	visibility: hidden;
	position:relative;
	padding:0px;
	min-width: 100%;
	min-height: 100%;
}


.working .progressbar {
    visibility: visible;
}

.gradient {
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	background: linear-gradient(to right, lightskyblue , lime);
}

.mask {
	position:absolute;
	font-size:1px;
	
	min-height:100%;
	background-color:#FFFFFF;
	
	top:0px;
}

.complete .mask {
	display: none;
}

.progresstick {
	visibility: hidden;
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
}

.complete .progresstick {
	visibility: visible;
}

.progresshourglass {
	visibility: hidden;
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
}

.issue .progresshourglass {
	visibility: visible;
}


.progressIndicator {
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	line-height:100%;
	font-family:verdana;
	font-weight:bold;
	color:black
	font-size:10pt;
	text-align:center;
}
